* {
    box-sizing: border-box;
    border: solid 1px red;
}

:root {
   --header-bg: #698F3F;
   --header-font: white;
   --footer-bg: #804E49;
   --footer-font: white;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0 0;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    color: var(--header-font);
    padding: 4px 15px;
}

    .site-name {
        flex-basis: 4;
        flex-grow: 4;
        font-size: 1.5em;
        font-weight: bold;
    }

    .navigation {
        flex-basis: 1;
        flex-grow: 1;
    }

    .navigation-list {
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-size: 1em;
    }

    .nav-link {
        color: var(--header-font);
        text-decoration: none;
    }

    .nav-link:hover {
        color: var(--header-font);
        text-decoration: underline;
    }

.mid-section {
    display: flex;
    flex: 1;
}

    figure {
        margin: 1.5rem;
    }

    img {
        max-width:100%;
    }

    .sidebar {
        background: #E7DECD;
    }

    .sidebar-title {
        margin: 1.5rem 1.5rem;
        font-size: 1rem;
    }

    .sidebar-left {
        flex-grow: 1;
        flex-shrink: 2;
        flex-basis: 25%;
        order: 1;
    }

    .main-content {
        flex-grow: 2;
        flex-shrink: 1;
        flex-basis: 50%;
        order: 2;
        font-family: serif;
        padding: 0rem 1.5rem;
    }

    .sidebar-right {
        flex-grow: 1;
        flex-shrink: 2;
        flex-basis: 25%;
        order: 3;
    }

.footer {
    background-color: var(--footer-bg);
    font-size: 1em;
    text-align: center;
    color: var(--footer-font);
}
}